name: Metrics
on:
  # Schedule daily updates
  #schedule: [{cron: "0 0 * * 0"}]
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: general stats
        uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKA_SECRET }}
          SHOW_OS: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_LANGUAGE: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
          SHOW_UPDATED_DATE: "False"
      - name: blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://sky675.github.io/feed.xml"
          max_post_count: 2
      - name: activity
        uses: Readme-Workflows/recent-activity@main
        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}
