name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "13 7 * * 2,5"}]
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: general stats
        uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.METRICS_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKA_SECRET }}
          SHOW_OS: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_LANGUAGE: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
          SHOW_TIMEZONE: "False"
          SHOW_LANGUAGE_PER_REPO: "False"
  replacements:
    needs: stats
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          git pull
      - name: replace texts (1)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(\\*\\*I'm a.+)"
          replace: "**this is when im active**"
          regex: true
      - name: replace texts (morn)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: '(.?\sMorning)'
          replace: "morning"
          regex: true
      - name: replace texts (day)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: '(.?\sDaytime)'
          replace: "daytime"
          regex: true
      - name: replace texts (eve)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: '(.?\sEvening)'
          replace: "evening"
          regex: true
      - name: replace texts (night)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: '(.?\sNight)'
          replace: "night"
          regex: true
      - name: replace texts (2)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(.*\\*\\*I'm Most.+)"
          replace: "**my days of the week**"
          regex: true
      - name: replace texts (3)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(.*Editors)"
          replace: "editors"
          regex: true
      - name: replace texts (4)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(.*Projects)"
          replace: "projects"
          regex: true
      - name: replace texts (5)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(.*\\*\\*This Week I.+)"
          replace: "**what i've worked on in the past week**"
          regex: true
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: replace texts
          file_pattern: README.md
  blog:
    needs: replacements
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://sky675.github.io/feed.xml"
          max_post_count: 2
          template: "$newline- [$title]($url) - $date"
