name: Metrics
on:
  # Schedule daily updates
  #schedule: [{cron: "0 0 * * 0"}]
  workflow_dispatch:
jobs:
  stats:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - name: general stats
        uses: anmol098/waka-readme-stats@master
        with:
          GH_TOKEN: ${{ secrets.METRICS_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKA_SECRET }}
          SHOW_OS: "False"
          SHOW_TOTAL_CODE_TIME: "False"
          SHOW_PROFILE_VIEWS: "False"
          SHOW_LANGUAGE: "False"
          SHOW_SHORT_INFO: "False"
          SHOW_LOC_CHART: "False"
          SHOW_TIMEZONE: "False"
      - uses: actions/checkout@v4
      - name: replace texts (emoji)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "([\uD800-\uDBFF]|[\u2702-\u27B0]|[\uF680-\uF6C0]|[\u24C2-\uF251])[^\u2591\u2588][ ]"
          replace: ""
          regex: true
      - name: replace texts (1)
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          include: "README.md"
          find: "(\\*\\*I'm a.+)"
          replace: "this is when i code"
          regex: true
      - name: blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://sky675.github.io/feed.xml"
          max_post_count: 2
          template: "- [$title]($url) - $date $newline"
